<%- include('layouts/login-header'); -%>

  <div class="wrapper">
  <div class="loginContainer">
    <form action="" method="post" id="register", onsubmit="event.preventDefault(); validatePass();">
      <fieldset>
        <legend><h1>REGISTER</h1></legend>
        <p class="errorMessage text-danger"><%=payload.errorMessage%></p>
        
        <input type="text" name="fullname" placeholder="Full Name" 
        value= "<%= payload.fullname %>" required>
        
        <input type="text" name="email" placeholder="Email" value= "<%= payload.email %>" required>
        
        <input type="text" name="username" placeholder="Username" value= "<%= payload.username %>" required>
        
        <input type="password" name="password" placeholder="Password" id='password' required>
        
        <input type="password" name="confirmedpassword" placeholder="Confirm Password" id='confirmedpassword' required>
        
        <input class='btn btn-primary' type="submit" value="Register">
        <a href="/login">Already have an account? Login here.</a>
        
        
      </fieldset>
    </form>
  </div>
</div>
<script>
  // client side validation, check if inputs password & confirm password matches
  const pass = document.getElementById('password')
  const confirmPass = document.getElementById('confirmedpassword')
  const form = document.getElementById('register')

  const validatePass = () => {
    if(pass.value !== confirmPass.value){
      alert('Passwords do not match!')
    } else {
      form.submit()
    }
  }

</script>


<%- include('layouts/login-footer'); -%>
